* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}
.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  background-color: white;
  border-radius: 10%;
}

.carta h3 {
  text-align: center;
  font-size: 2rem;
}

.carta h5 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

.carta img {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
}
